<body>
<footer>
  <mat-toolbar class="gold-toolbar footer">
    <span class="mat-caption">Copyright © 2024 All rights reserved | Peter Gandy</span>
  </mat-toolbar>
</footer>
</body>




<!--
<html lang="en">

<head>
  &lt;!&ndash; CSS Libraries &ndash;&gt;
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />

  &lt;!&ndash; Custom CSS &ndash;&gt;
  <link rel="stylesheet" href="footer.component.html">
</head>

<body>
&lt;!&ndash; Footer &ndash;&gt;
<footer class="footer-container">
  <div class="footer-content">
    &copy; 2024 All rights reserved | Peter Gandy
  </div>
</footer>

&lt;!&ndash; JS &ndash;&gt;
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
-->
