<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">

    <mat-form-field>
      <input matInput type="email" name="email" placeholder="E-Mail" ngModel email required autocomplete="current-email"
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">E-Mail is a required field</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" ngModel required
        autocomplete="current-password" #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Password is a required field</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Signup</button>

  </form>
</mat-card>

















<!--<form (submit)="onSignup()">
  <h1>Signup Page</h1>
  <input type="text" [(ngModel)]="email" placeholder="email" required>
  <input type="password" [(ngModel)]="password" placeholder="Password" required>
  <button type="submit">Signup</button>
</form>-->














<!--<div class="signup.js-container">
  <h2>Signup</h2>
  <form (ngSubmit)="onSignup()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Signup</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>-->
