<mat-spinner *ngIf="isLoading"></mat-spinner> <!-- Spinner when loading -->
<mat-card>
  <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput name="title" ngModel required placeholder="Post title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput name="content" ngModel required placeholder="Write your post here"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid || isLoading">
      {{ isLoading ? 'Posting...' : 'Post' }}
    </button>
  </form>
</mat-card>


