/*.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.info-text {
  color: gray;
  text-align: center;
  font-style: italic;
}

mat-action-row {
  display: flex;
  justify-content: space-between;
}*/
